.sidebar {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f0f4f9;
  justify-content: space-between;
}
.sidebar img {
  width: 20px;
}
.sidebar .menu {
  display: block;
  margin-bottom: 50px;
  cursor: pointer;
}
.new-chat {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  border-radius: 5000px;
  background-color: #e6eaf1;
  justify-content: center;
  cursor: pointer;
}

.bottom {
  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.bottom-item:hover {
  background-color: #e2e6eb;
}

.bottom-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 500px;
}
.recent {
  margin-top: 70px;
}
.recent h3 {
  color: #585858;
}

.recent-chats-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.recent-chats-wrapper span {
  padding: 10px 14px;
  border-radius: 999px;
  cursor: pointer;
}
.recent-chats-wrapper span:hover {
  background-color: #e2e6eb;
}

@media screen and (max-width: 1025px) {
  .sidebar {
    display: none;
  }
}
